api_key:
  openai: your_api_key
  aws:
    key_id: your_access_key_id
    key: your_secret_access_key

save_dir: ../saved/record

polly:
  voice_id: Joanna/Emma/...
  output_format: mp3
  region_name: us-east-1/...
  engine: neural/standard

gpt:
  model: gpt-3.5-turbo/gpt-4/...
  mode: polish/free